
<%= form_for @medicine, builder: BulmaFormBuilder do |form| %>
    <div class="container">

        <!--FormBuilder para "div" con error-->
        <%= form.form_error %>

        <p class="is-large">
            En esta vista usted ingresará los medicamentos que consuma. Si usted toma algún medicamento, seleccione la casilla y escribalo(s). Si no, solo presione el botón "Guardar Medicamento". 
        </p>
        <br> <br>
        
        <div class="field">
            <label class="label is-medium">
                ¿Usted consume algún medicamento?
                <input class="check" type="checkbox" name="checMedicamento" id="checMedicamento" onchange="comprobar();">
            </label>

            <div class="control">
                <%= form.text_field :respuesta, value: "Ninguno", readonly: true , class: 'input is-primary' %>
            </div>

            <!--FormBuilder para "p" con error-->
            <%= form.field_error(:respuesta)%>

        </div>

        <br>
        
        <div class="field is-grouped">
            <div class="control">
                <%= form.submit class: 'button is-primary'%>
            </div>
        </div>

        
    </div>

<% end %>

<script>
    function comprobar()
    {   
        if (document.getElementById("checMedicamento").checked)
        {
            document.getElementById('medicine_respuesta').value = "";
            document.getElementById('medicine_respuesta').readOnly = false;
            document.getElementById('medicine_respuesta').placeholder = "Ej. Penicilina, Aspirina, Ibuprofeno, etc";
        }            
        else
        {
            document.getElementById('medicine_respuesta').readOnly = true;
            document.getElementById('medicine_respuesta').value = "Ninguno";
        }
    }
</script>