<%= form_for @medical_appointment do |form| %>
    <div class="container">

        <div class="field">
            <%= form.label :motivo, class: 'label is-large' %>

            <div class="control"> 
                <%= form.text_area :motivo, class: 'textarea',  placeholder: "Ej. Se realizó una limpieza dental en conjunto con un blanqueamiento."%>
            </div>
        </div>
        
        <%= datetime_local_field(:medical_appointment, :fecha, readOnly: true) %>

        <br> <br>

        <%= form.submit class: 'button is-primary'%>
        <br> <br>
        
    </div>

    
    
<% end %>