<!--Helper para inicio sesión-->
<%= form_for @user, builder: BulmaFormBuilder do |f| %>

<div class="container">

    <div class="notification is-primary"> 
        <p class="title is-2"> Registro de Usuario </p>
     </div>

    <!--FormBuilder para "div" con error-->
    <%= f.form_error %>

     <div class="field">
        <%= f.label :name, class: 'label' %>
        <div class="control">
            <%= f.text_field :name, placeholder: "Ej. Excel Dental", class: 'input' %>
        </div>

        <!--FormBuilder para "p" con error-->
        <%= f.field_error(:name)%>
    </div>

    <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control">
            <%= f.text_field :email, placeholder: "Ej. 8671264856" , class: 'input'%>
            
        </div>

        <%= f.field_error(:email)%>
    </div>
    
    <div class="field">
        <%= f.label :password, class: 'label' %>
        <div class="control">
            <%= f.password_field :password, class: 'input' %>
        </div>

        <%= f.field_error(:password)%>
    </div>

    <!--
    <div class="field">
        <%= f.label :password_confirmation, class: 'label' %>     
        <div class="control">
            <%= f.password_field :password_confirmation, class: 'input' %>         
        </div>
    </div>
    -->
    
    <%= f.submit class: 'button is-primary'%>

<% end %>