<%= form_for @patient do |form| %>
    <div class="container">

        <div class="notification is-primary"> 
            <p class="title is-2"> Datos Personales </p>
        </div>

        <%- if @patient.errors.any? %>
            <div class="notification is-danger">
                Lo sentimos, al parecer algo salió mal.
            </div>
        <%end%>

        <div class="field">
            <%= form.label :nombres, class: 'label' %>

            <div class="control">
                <%= form.text_field :nombres, placeholder: "Ej. Carlos Geovani", class: 'input' %>
            </div>

            <%- if @patient.errors[:nombres].any? %>
                <div class="help is-danger">
                    <%= @patient.errors[:nombres].first%>
                </div>
            <%end%>
        </div>
        

        <%= form.label :apellidos, class: 'label' %>

        <div class="control">
            <%= form.text_field :apellidos, placeholder: "Ej. Castillo González", class: 'input' %>
        </div>

        <%= form.label :edad, class: 'label' %>

        <div class="control">
            <%= form.text_field :edad, placeholder: "Ej. 39", class: 'input' %>
        </div>


        <%= form.label :fecha_nacimiento, class: 'label' %>

        <div class="control">
            <%= date_field(:patient, :fecha_nacimiento) %>
 
        </div>


        <%= form.label :sexo, class: 'label' %>

        <div class="control">
            <%= form.label :sexo, "Masculino" %>
            <%= form.radio_button :sexo, 'Masculino' %> 

            <%= form.label :sexo, "Femenino" %>
            <%= form.radio_button :sexo, 'Femenino',:checked => true  %> 
        </div>


        <%= form.label :colonia, class: 'label' %>

        <div class="control">
            <%= form.text_field :colonia, placeholder: "Ej. Buena Vista", class: 'input' %>
        </div>


        <%= form.label :direccion, class: 'label' %>

        <div class="control">
            <%= form.text_field :direccion, placeholder: "Ej. Revolución #7533", class: 'input' %>
        </div>
        

        <%= form.label :telefono, class: 'label' %>

        <div class="control">
            <%= form.text_field :telefono, placeholder: "Ej. 867 196 0471", class: 'input' %>
        </div>


        <%= form.label :celular, class: 'label' %>

        <div class="control">
            <%= form.text_field :celular, placeholder: "Ej. 867 126 4856", class: 'input' %>
        </div>
        

        <label class="label">¿Cómo le gusta que lo llamen?</label>

        <div class="control">
            <%= form.text_field :apodo, placeholder: "Ej. Carlos", class: 'input' %>
        </div>


        <%= form.label :facebook, class: 'label' %>

        <div class="control">
            <%= form.text_field :facebook, placeholder: "Ej. Excel Dental", class: 'input' %>
        </div>
        <br>
        <%= form.submit class: 'button is-primary'%>
        <br> <br>
        
    </div>

    
    
<% end %>